@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #00704A;
    color: white;
}

#back-button {
    display: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.welcome {
    --dot-bg: #ffffff;
    --dot-color: #00704A;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }